@import url("bootstrap.min.css");
@import url("font-awesome.min.css");
@import url(http://fonts.googleapis.com/css?family=Playball);
body{
  background-image: url("../img/bg.jpg");
}

.numeric-form > .btn{
  font-size: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  min-width: 10rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.titulo{
  padding-top: 3rem;
  font-size: 6rem;
  font-family: 'Playball', cursive;
  padding-bottom: 1rem;
}

.titulo-crud{
  padding-top: .5rem;
  font-size: 4rem;
  font-family: 'Playball';
  padding-bottom: .5rem;
}

.navbar-nav > .no-a{
  padding-top: 15px;
  padding-bottom: 15px;
}

thead > tr > td {
 background-color: #779ECB;
 color: whitesmoke;
}

thead > tr > td:first-of-type {
 border-top-left-radius: 1rem;
}

thead > tr > td:last-of-type{
 border-top-right-radius: 1rem;
}
/*CUSTON NAV-BAR*/
.navbar-default {
  background-color: #596cb6;
  border-color: #4488ad;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #596cb6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #4488ad;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #596cb6;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #4488ad;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #4488ad;
}
.navbar-default .navbar-toggle {
  border-color: #4488ad;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #4488ad;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #4488ad;
  }
}
/*RESPONSIVE*/
@media (max-width: 640px) {
  .numeric-form > .btn{
    font-size: 2.5rem;
    padding-left: .8rem;
    padding-right: .8rem;
    min-width: 5rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
  }

  .titulo{
    padding-top: 1rem;
    font-size: 4rem;
    padding-bottom: .5rem;
  }
}