@import url("bootstrap.min.css");
@import url("font-awesome.min.css");
@import url(http://fonts.googleapis.com/css?family=Playball);
body{
  background-image: url("../img/bg.jpg");
  height: 100%;
}

.numeric-form > .btn{
  font-size: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  min-width: 10rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.titulo{
  padding-top: 3rem;
  font-size: 6rem;
  font-family: 'Playball', cursive;
  padding-bottom: 1rem;
}

.titulo-crud{
  padding-top: .5rem;
  font-size: 4rem;
  font-family: 'Playball';
  padding-bottom: .5rem;
}

.navbar-nav > .no-a{
  padding-top: 15px;
  padding-bottom: 15px;
}

.error{
  font-size: 1.5rem;
  padding: .5rem;
  padding-left: 2rem;
  color: #4cae4c;
}
.container{
  min-height: 83%;
}
.footer{
  background-color: #596cb6;
  color: whitesmoke;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.user-name{
  color: whitesmoke;
  font-style: italic;
}

/*Stock*/
.stock-title{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
}
.msg{
  padding-left: 3rem;
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

/*CUSTON NAV-BAR*/
.navbar-default {
  background-color: #596cb6;
  border-color: #4488ad;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #596cb6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #4488ad;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #596cb6;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #4488ad;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #4488ad;
}
.navbar-default .navbar-toggle {
  border-color: #4488ad;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #4488ad;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

/*TABLA CON ORDENAMIENTO*/
#data th{
background-color: #779ECB;
color: whitesmoke;
}

#data th:first-of-type {
 border-top-left-radius: 1rem;
}

#data th:last-of-type{
 border-top-right-radius: 1rem;
}

#data th span{
    cursor:pointer;
    padding-right:12px
}
#data th span.asc{
    background:url(../img/sortaB.gif) no-repeat right center;
}
#data th span.desc{
    background:url(../img/sortdB.gif) no-repeat right center;
}

thead > tr > td {
 background-color: #779ECB;
 color: whitesmoke;
}

thead > tr > td:first-of-type {
 border-top-left-radius: 1rem;
}

thead > tr > td:last-of-type{
 border-top-right-radius: 1rem;
}

/*RESPONSIVO*/
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #4488ad;
  }
}
/*RESPONSIVE*/
@media (max-width: 640px) {
  .numeric-form > .btn{
    font-size: 2.5rem;
    padding-left: .8rem;
    padding-right: .8rem;
    min-width: 5rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
  }

  .titulo{
    padding-top: 1rem;
    font-size: 4rem;
    padding-bottom: .5rem;
  }
}

/*Autocompletar */
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
